/* CSS Document */
#popular
{
	background:rgb(255,250,250);
	width:100%;
	text-align:center;
	padding:3px;
	margin-bottom:10px;	
	border:1px solid rgb(255,240,250);
}
#list-content
{
	font-style:normal;
	font-size:15px;
	font-family: sans-serif;
	color:gray;
}
#top_rest
{
	margin:10px; 
	background:#fafafa; 
	border-radius:6px;
	box-shadow:2px 2px 3px rgba(0, 0, 0, 0.1);	
}
#restaurants
{
	margin:10px; 
	background:#fafafa; 
	border-radius:6px;
	box-shadow:2px 2px 3px rgba(0, 0, 0, 0.1);	
	width:450px;
}
#rest_img
{
	float:left; 
	width:130px; 
	height:130px; 
	border-radius:6px; 
	padding-right:5px;
}
#rest_head
{
	border-bottom:1px solid #f2f2f2; 
	background:white; 
	padding:5px 2px 2px; 
	line-height: 22px;
}
#rest_name
{
	color:#DE1302;
}
#rest_ctn
{
	font-size: 14px;
	color: #89959B; 
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow: ellipsis;
}
#cuisine
{
	color: #89959B; 
}
#ctn
{
	color:black;
}
#rest_order
{
	padding:5px; 
	text-align:right;
	height:40px;
}
#order
{
	padding:10px;	
	font:15px Arial;	
	font-weight:bold;	
	width:125px;	
	color:white;	
	background-color:#4ca146;	
	border:none;
	cursor:pointer;
}
.view_all
{
	margin:10px; 
	background:white; 
	padding:10px 20px; 
	border:solid; 
	border-width:thin; 
	border-radius:6px;	
}